---
title: Pure CSS | Layout example
---
.container
  .header
    %h1 Grids
    %h2 Laying out using Pure CSS
  .pure-g-r.grid-example
    .pure-u-1-2
      .boxy
        .top_divider
          %h3 One-Half Column Size
        %p This takes up half the row size
    .pure-u-1-2
      .boxy
        .top_divider
          %h3 One-Half Column Size
        %p This one takes up the other half
  .pure-g-r.grid-example
    .pure-u-1-3
      .boxy
        .top_divider
          %h3 One-Third Column Size
        %p This one takes 1/3rd of the Column Size
    .pure-u-1-3
      .boxy
        .top_divider
          %h3 One-Third Column Size
        %p This one takes 1/3rd of the Column Size
    .pure-u-1-3
      .boxy
        .top_divider
          %h3 One-Third Column Size
        %p This one takes 1/3rd of the Column Size
  .pure-g.grid-example
    .pure-u-1
      .boxy
        .top_divider
          %h3 One Large Column
        %p This greedy fuck takes the whole column width
